<a href="https://colab.research.google.com/github/sivarama1126/Basic-ML/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def  sum(a, b):
 return(a+b)
 
print(sum(5,7))

12

In [10]:
def  multiple (a, b):
 return(a*b) 
 
print(multiple(1, 6))

6

In [13]:
def  sub(a, b) :
 return(a-b) 
 
print(sub(6,2))

4